.container-fluid {
    padding: 3% 15% 7%;
    height: fit-content;
}

#title {
    height: fit-content;
    
}

.textonly {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    color: rgb(19, 18, 18);
}

#plans {
    padding: 12px;
}

.pricing-column {
    align-items: center;
    
}
.card {
    margin: 5px;
    margin-left: 20px;
    text-align: center;
    font-size: 1.2rem;
    align-items: center;
    border-color: white;
    border: none;
   
}

#testimonials {
    
    text-align: center;
    background-color: #111011;
    color: rgb(128, 124, 124);
    /* height: 40rem; */
    
}

.carousel-item {
    padding: 5% 15%;
}


.card-body {
    width: 70%;
    align-items: center;
    border-radius: 25px;
}

.pricingLink {
    color: rgb(194, 174, 147);
}

.footer {
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    padding:1%;
}

@media (max-width:1000px) {
    #title {
        text-align: center;
        margin-bottom: 12px;
    }

    
    .footer {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 0%;
    }

    
}